*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{ 
    width:100% ;
    height: 100vh;
    overflow-x:hidden;
    background-color: rgb(8, 8, 8);
    color: rgb(238, 239, 240);

}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 1rem 6%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index:100;
}

.logo{
    font-size:3rem;
    color:rgb(76, 197, 218)
    cursor:pointer;
    font-weight:800;
    transition:0.5s ease;
    margin-left:10%;

}
.logo:hover{
    transform: scale(1.1);
}

nav a{
    font: size 1.8rem;
    color: rgb(221, 229, 237);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
 a:hover,
 nav a.active{
    color: rgb(24, 175, 175);
    border-bottom: 3px solid rgb(23, 122, 147);

}
@media(max-width:995px){
    nav{
        position: absolute;
        top:100%;
        right:0;
        width: 80%;
        border-left: 3px solid  rgb(19, 113, 167);
        border-bottom-left-radius:2rem ;
        padding:0cqi1rem solid;
         background-color:black;
         border-top: 0.1rem solid rgb(7, 7, 7);
         
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
    font-size: 2rem;
    margin:3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding:1rem;
        border-radius: 0.5rem;
        border-bottom: 0,5rem solid rgb(11, 106, 154);
    }

    
}
section{min-height: 100vh;
padding: 5rem 9 5 5rem;}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;

}
span{
    color: rgb(53, 211, 225);

}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25 px solid rgb(13, 159, 204);
    cursor:pointer ;
}
.home-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 900;}

    .home-content p{
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 900;}
        .btn{
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-weight: 900;
        display: inline-block;
    padding:1rem  2.8rem;
    background-color: black;
border-radius: 4rem;
color: rgb(65, 218, 218);
}
.one{
    font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: 700;
            margin-left: 30%;
}
.r {
    color:rgb(38, 207, 207) ;
    font-size:x-large;
    margin-left: 90px;
    margin: 4opx;
}
.social-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #2d86cb;
    border-radius: 50%;
    color: #1b1c1d;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
    
}
.social-icon i:hover{
    scale: 1.3;
    color: black;
    background-color: #1b96b1;
    filter: drop-shadow(0 0 10px #0c8dd8);
}


